<footer id="footer">
  <div class="footer-content">
    <div class="footer-content__align">
      <div class="footer-content__up" title="Наверх">
        <i class="fa fa-arrow-up" (click)="onTop()"></i>
      </div>
      <div class="footer-content__icons">
        <a href="https://www.facebook.com/bugatti/"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/Bugatti"><i class="fa fa-twitter"></i></a>
        <a href="https://instagram.com/bugatti"><i class="fa fa-instagram"></i></a>
        <a href="https://www.pinterest.de/bugatti/"><i class="fa fa-pinterest"></i></a>
        <a href="http://www.youtube.com/BugattiSocial"><i class="fa fa-youtube-play"></i></a>
        <a href="http://www.linkedin.com/company/bugatti-automobiles-s-a-s-"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
    <div class="footer-content__text">
      <p>Bugatti Automobiles S.A.S. © {{ year }}</p>
    </div>
  </div>
</footer>
