<div id="create-news__wrapper">
  <form class="create-news__form" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Добавление новости</h2>
    <div
      class="create-form__main"
      [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
    >
      <label class="create-form__label" for="title">Название новости:</label>
      <input class="create-form__input" id="title" type="text" formControlName="title">
      <div
        *ngIf="form.get('title').touched && form.get('title').invalid"
        class="validation"
      >
        <small *ngIf="form.get('title').errors.required">
          Введите название новости
        </small>
      </div>
    </div>
    <div class="create-form__main">
      <label>Контент новости:</label>
      <quill-editor formControlName="text"></quill-editor>
    </div>
    <div
      *ngIf="form.get('text').touched && form.get('text').invalid"
      class="validation"
    >
      <small class="quill-validation" *ngIf="form.get('text').errors.required">
        Введите текст новости
      </small>
    </div>
    <button
      type="submit"
      class="btn-login"
      [disabled]="disabled$ | async"
    >Добавить новость</button>
  </form>
</div>
