<div id="registration__wrapper">
  <h1 class="registration-info__header">Регистрация</h1>
  <form class="registration-info__main"
        [formGroup]="form" (ngSubmit)="submit()"
  >
    <h2 class="registration-info__subheader">Заполните информацию о себе</h2>
    <div class="surname registration-info__control"
         [ngClass]="{invalid: form.get('surname')?.touched && form.get('surname')?.invalid}"
    >
      <label for="surname">Фамилия<span>*</span></label>
      <input id="surname" type="text" formControlName="surname">
    </div>
    <div class="name registration-info__control"
         [ngClass]="{invalid: form.get('name')?.touched && form.get('name')?.invalid}"
    >
      <label for="name">Имя<span>*</span></label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div class="email registration-info__control"
         [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}"
    >
      <label for="email">Адрес email<span>*</span></label>
      <input id="email" type="email" formControlName="email">
      <div class="validation"
           *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      >
        <small *ngIf="form.get('email')?.errors?.required"
        >
          Введите email
        </small>

        <small *ngIf="form.get('email')?.errors?.email"
        >
          Введите корректный email
        </small>
      </div>
    </div>
    <div class="password registration-info__control"
           [ngClass]="{invalid: form.get('pass')?.touched && form.get('pass')?.invalid}"
      >
        <label for="password">Пароль<span>*</span></label>
        <input id="password" type="password" formControlName="pass">
        <div class="validation"
             *ngIf="form.get('pass')?.touched && form.get('pass')?.invalid"
        >
          <small *ngIf="form.get('pass')?.errors?.required"
          >
            Введите пароль
          </small>

          <small *ngIf="form.get('pass')?.errors?.minlength"
          >
            Пароль должен содержать более {{form.get('pass')?.errors?.minlength.requiredLength}} символов
          </small>
        </div>
      </div>
      <div class="password_again registration-info__control"
           [ngClass]="{invalid: (form.get('conf_pass')?.touched && form.get('conf_pass')?.invalid) || (form.errors?.mismatch && form.get('conf_pass')?.touched)}"
      >
        <label for="password_again">Пароль (еще раз)<span>*</span></label>
        <input id="password_again" type="password" formControlName="conf_pass">
        <div class="validation"
             *ngIf="form.get('conf_pass')?.touched || form.get('conf_pass')?.invalid"
        >
          <small *ngIf="form.get('conf_pass')?.errors?.required && form.get('conf_pass')?.touched"
          >
            Введите пароль
          </small>

          <small *ngIf="form.errors?.mismatch && form.get('conf_pass')?.value && form.get('conf_pass')?.touched">
            Пароли не совпадают
          </small>
        </div>
      </div>
    <div class="country">
      <label class="country__label" for="country">Страна</label>
      <select class="country__select" id="country" formControlName="country">
        <option selected value="Россия">Россия</option>
        <option value="Украина">Украина</option>
        <option value="Беларусь">Беларусь</option>
        <option value="Казахстан">Казахстан</option>
        <option value="Финляндия">Финляндия</option>
      </select>
    </div>
    <div class="city registration-info__control">
      <label for="city">Город</label>
      <input id="city" type="text" formControlName="city">
    </div>
    <div class="dop-info">
      <i class="fa fa-chevron-circle-down" aria-hidden="true"
         (click)="isVisible = !isVisible"
         *ngIf="!isVisible"
      ></i>
      <i class="fa fa-chevron-circle-up" aria-hidden="true"
         (click)="isVisible = !isVisible"
         *ngIf="isVisible"
      ></i>
      <p>Дополнительная информация</p>
    </div>
    <div class="info-input"
         *ngIf="isVisible"
    >
      <label class="info-input__label" for="about">Расскажите о себе</label>
      <textarea class="info-input__textarea" id="about" cols="58" rows="3" formControlName="about"></textarea>
    </div>
    <div class="personal"
         [ngClass]="{invalid: form.get('personal')?.touched && form.get('personal')?.invalid}"
    >
      <input class="personal__input" id="personal" type="checkbox" formControlName="personal">
      <label class="personal__label" for="personal">Согласие на обработку персональных данных</label>
    </div>
    <button class="btn-login"
            type="submit"
            [disabled]="form.invalid "
    >Зарегистрироваться</button>
  </form>
</div>
