<div id="wrapper">
  <swiper
    class="main-content__slider"
    [config]="config"
  >
    <ng-template swiperSlide><img class="image__slider" src="../../assets/Office.jpg" alt="1"></ng-template>
    <ng-template swiperSlide><img class="image__slider" src="../../assets/Office_2.jpg" alt="2"></ng-template>
    <ng-template swiperSlide><img class="image__slider" src="../../assets/Office_3.jpg" alt="3"></ng-template>
    <ng-template swiperSlide><img class="image__slider" src="../../assets/Office_4.jpg" alt="3"></ng-template>
  </swiper>
  <div class="main-content__info">
    <div class="main-content__about">
      <article class="main-content__infoLeft">
        <h1 class="info__header">Bugatti Automobiles S.A.S. (кратко: Bugatti — «Буга́тти»)</h1>
        <p>Французская автомобилестроительная компания, специализирующаяся на выпуске легковых автомобилей класса люкс под маркой Bugatti. Штаб-квартира — фамильное поместье Шато Сэн-Жан (фр. Château Saint Jean) — и производство находятся в эльзасском городе Мольсеме. В настоящее время компания входит в состав немецкого концерна Volkswagen AG, президентом является Вольфганг Дюрхаймер.</p>
      </article>
      <aside class="main-content__infoRight">
        <p>К 110-летию со дня рождения Этторе Бугатти появляется Bugatti EB100, и на тот момент — 1990-е годы — это самый быстрый автомобиль в мире. Салон был отделан роскошными материалами, включал CD магнитолу, кондиционер, часы. Технические характеристики, которыми обладал самый быстрый автомобиль в мире, поражал экспертов: 12-цилиндровый двигатель, 560 лошадиных сил, разгон до 100 км/час за 3, 4 секунды. При этом мотор на высоких скоростях почти не издавал рева, свойственного спорткарам-конкурентам. Спортивная модификация EB110 обладала максимальной скоростью 352 км/час, однако, не имея конкурентов в классе, гоночные соревнования прошли неуспешно, а первые гонки с участием EB110SS и вовсе финишировали без нее из-за выявленных неисправностей.</p>
      </aside>
    </div>
  </div>
  <app-footer></app-footer>
</div>
