<div id="history-wrapper">
  <div class="history-info__one">
    <h2>Bugatti (1909—1963)</h2>
    <hr>
    <br>
    <p>В 1909 году Этторе Бугатти основал свою собственную компанию. В качестве завода он использовал заброшенную красильню в Мольсеме.</p>
    <br>
    <p>Bugatti Type 13 появился в 1910 году и на Гран-при Франции в 1911 году управляемый Эрнестом Фридрихом занял второе место, обогнав более мощные автомобили. После Первой мировой войны немного модифицированный Type 13 выиграл Кубок легковых автомобилей в Ле-Мане в 1920 году. На основе Type 13 были созданы модели Bugatti Type 15, 17, 22 и 23 отличающиеся разной длиной шасси. Bugatti Type 22 c 16-клапанным двигателем занял первые четыре места в Гран-при в Брешии в 1921 году, за что модели Type 13, 15, 17, 22, 23, 27 с 16-клапанными двигателями получили прозвище «Brescia».</p>
    <br>
    <p>Bugatti Type 18, суперкар своего времени, был представлен в 1912 году. Двигатель мощностью в 100 л. с. мог разгонять автомобиль до 160 км/ч. Всего было создано 7 экземпляров.</p>
    <br>
    <p>В 1923 году был создан Bugatti Type 32 прозванный «Танк». Автомобиль сыграл роль первопроходца с точки зрения внимания к аэродинамике в дизайне гоночных автомобилей.</p>
    <br>
    <p>Bugatti Type 35 появившийся в 1924 году стал одним из самых успешных гоночных автомобилей своего времени, на счету которого более 2000 побед. Type 35 и его модификации выигрывали Гран-при Испании, Франции, Германии, Монако, Чехословакии; в течение пяти лет удерживали первое место в гонках Targa Florio. В конструкции Bugatti Type 35 впервые появилась подковообразная радиаторная решётка, ставшая отличительным элементом многих автомобилей компании. Автомобиль стал «визитной карточкой» компании и имел успех у состоятельных покупателей.</p>
    <br>
    <p>В 1926 году появился Bugatti Type 41 Royale — это был один из самых роскошных и дорогих автомобилей своего времени. Всего было создано 6 экземпляров.</p>
    <br>
    <p>В 30-х годах Этторе Бугатти отходит от управления компанией и ей начинает руководить старший сын — Жан Бугатти. С 1934 по 1939 года на заводе производились Bugatti Type 57, которые можно было заказать с различными вариантами кузова. На модификациях Type 57G Tank и Type 57C Tank были одержаны победы в 24 часа Ле-Мана: в 1937 году автогонщиками Жан-Пьер Вимиллем и Робером Бенуа и в 1939 году — Жан-Пьер Вимиллем и Пьером Вейроном. 11 августа 1939 года Жан Бугатти погибает в автоаварии.</p>
    <br>
    <p>После Второй мировой войны Этторе подаёт иск в суд о возвращении ему прав на предприятие, которое французское правительство хотело экспроприировать, но скончавшись в 1947 году так и не узнает, что суд удовлетворил его иск. Вскоре после его смерти во главе компании становится младший сын Роланд Бугатти и в 1951 году на парижском автосалоне был представлен Bugatti Type 101, построенный на основе Bugatti Type 57. Также, в первой половине 1950-х годах, для участия в гонке Формула-1 был разработан автомобиль Bugatti Type 251, который принял участие только в одной гонке. Позже, между 1957 и 1962 годами, был разработан концепт гоночного автомобиля Bugatti Type 252, который сейчас находится в музее автомобилей в Мюлузе.</p>
    <br>
    <p>В 1963 году Bugatti была продана компании Hispano-Suiza.</p>
    <br>
    <ul class="history-info__ul1">
      <li>
        <img src="../../assets/180px-Bugatti_Molsheim_007.jpg" alt="" class="ul__img">
        <div class="ul1-img__text">
          <p>Завод Bugatti (гараж, магазин и конюшня), 1930 год</p>
        </div>
      </li>
      <li>
        <img src="../../assets/180px-Bugatti_Molsheim_031.jpg" alt="" class="ul__img">
        <div class="ul1-img__text">
          <p>Этторе Бугатти перед премьерой Bugatti Type 35 на Гран-при Франции, 1924 год</p>
        </div>
      </li>
      <li>
        <img src="../../assets/180px-Albert_Divo_in_his_Bugatti_at_the_1928_Targa_Florio.jpg" alt="" class="ul__img">
        <div class="ul1-img__text">
          <p>Альбер Диво на Targa Florio, 1928 год</p>
        </div>
      </li>
      <li>
        <img src="../../assets/180px-Bugatti_57G_(19733857275).jpg" alt="" class="ul__img">
        <div class="ul1-img__text">
          <p>Bugatti Type 57G Tank</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="history-info__two">
    <h2>Bugatti Automobili (1987—1995)</h2>
    <hr>
    <br>
    <p>В 1987 году права на бренд Bugatti, а также более 45000 чертежей и проектов, купил итальянский предприниматель Романо Артиоли и основал компанию Bugatti Automobili S.p.A. В итальянской коммуне Кампогаллиано компания построила завод.</p>
    <br>
    <p>В 1990 году на 63-ем туринском автосалоне был представлен концепт двухместного купе Bugatti ID 90 от компании ItalDesign, который опирался на технические чертежи Bugatti. Верх кузова автомобиля имеет вытянутую стеклянную конструкцию. Дизайн литых дисков отсылает к Bugatti Type 41 Royale.</p>
    <br>
    <p>В день стодесятилетия Этторе Бугатти, 15 сентября 1991 года, компания Bugatti официально представила суперкар Bugatti EB 110 GT. С двигателем мощностью 553 л. с., он развивает скорость в 342 км/ч. Более мощная версия — Bugatti EB 110 SS была представлена в 1992 году. Мощность двигателя модификации возросла до 611 л. с., а максимальная скорость, которую развивает автомобиль, равняется 351 км/ч.</p>
    <br>
    <p>Проект Bugatti EB 110 ещё не успел окупиться, но компания начала подготовку к производству седана класса люкс, и в 1993 году на женевском автосалоне был представлен разработанный ItalDesign концепт четырёхдверного седана Bugatti EB 112, готовый для серийного производства. К 1994 году у Bugatti Automobili начались тяжёлые времена и в сентябре 1995 года компанию объявили банкротом из-за долгов в 125 миллионов долларов, которому способствовали спад в мировой экономике, конкуренция и неудачные финансовые сделки. Позже, сам Романо Артиоли высказал свою версию о разорении его компании в результате злонамеренного саботажа конкурирующими автопроизводителями.</p>
    <br>
    <ul class="history-info__ul1">
      <li>
        <img src="../../assets/180px-BUGATTI_AUTOMOBILI.jpg" alt="" class="ul__img">
        <div class="ul1-img__text">
          <p>Завод Bugatti Automobili в Италии</p>
        </div>
      </li>
      <li>
        <img src="../../assets/180px-Bugatti_EB110.jpg" alt="" class="ul__img">
        <div class="ul1-img__text">
          <p>Две модификации Bugatti EB 110: SS и GT</p>
        </div>
      </li>
      <li>
        <img src="../../assets/180px-Bugatti_EB112_sedan_4door.jpg" alt="" class="ul__img">
        <div class="ul1-img__text">
          <p>Концепт EB 112 от ItalDesign</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="history-info__three">
    <h2>Bugatti Automobiles (1998—наст. время)</h2>
    <hr>
    <br>
    <p>В 1998 году концерн Volkswagen под руководством Фердинанда Пиеха приобрёл права на бренд Bugatti. Также было куплено историческое поместье Шато Сэн-Жан (фр. Château St. Jean), которое было отреставрировано и стало штаб-квартирой компании. Исторический же завод Bugatti теперь принадлежит компании Snecma, поэтому Volkswagen построил рядом с поместьем новый завод, который сами называют ателье. Позже, в том же году, на парижском автосалоне был представлен концепт-кар двухдверного четырёхместного купе Bugatti EB 118, разработанный компанией ItalDesign. За ним последовали ещё два концепта от той же ItalDesign: в 1999 году на женевском автосалоне был представлен концепт-кар четырёхдверного седана Bugatti EB 218, который являлся развитием концепта Bugatti EB 112; и на франкфуртском автосалоне в сентябре 1999 года был представлен концепт суперкара Bugatti 18/3 Chiron.</p>
    <br>
    <p>В октябре 1999 года на токийском автосалоне был представлен концепт с 18-цилиндровым двигателем Bugatti 18/4 Veyron, разработанный уже в Volkswagen. Осенью 2000 года был представлен концепт Bugatti 16/4 Veyron с 16-цилиндровым двигателем.</p>
    <br>
    <p>В 2001 году президентом созданной компании Bugatti Automobiles S.A.S. стал Карл-Хайнц Нойман, а также был представлен на женевском автосалоне Bugatti 16.4 Veyron с двигателем мощностью 1001 л. с. Главой компании с конца 2003 года был назначен Томас Бшер.</p>
    <br>
    <p>Производство гиперкара Bugatti Veyron началось в 2005 году. Всего было выпущено 450 автомобилей, цена некоторых из них доходила до более 2 миллионов евро. С 2007 года президентом компании становится Франц-Йозеф Паефген. Через год, в 2008 году, была представлена модификация Bugatti Veyron в виде родстера — Bugatti Veyron Grand Sport.</p>
    <br>
    <p>В 2010 году на женевском автосалоне компания показала концепт-кар четырёхдверного седана класса люкс Bugatti 16C Galibier, а также позже, в этом же году, был представлен Bugatti Veyron Super Sport — модификация Bugatti Veyron с увеличенной мощностью двигателя, которая попала в Книгу рекордов Гиннесса как самый быстрый серийный автомобиль и до сих пор удерживает этот титул. Президентом Bugatti Automobiles с 2011 года становится Вольфганг Дюрхаймер. Весной 2012 года была представлена модификация «скоростного» родстера Bugatti Veyron под названием Grand Sport Vitesse. Осенью 2012 года президентом компании был назначен Вольфганг Шрайбер.</p>
    <br>
    <p>В июне 2014 года президентом Bugatti был вновь назначен Вольфганг Дюрхаймер. Последний Bugatti Veyron был представлен весной 2015 года, а осенью того же года Bugatti привезла на франкфуртский автосалон шоу-кар Bugatti Vision Gran Turismo — «реальная» версия виртуального гиперкара, придуманного для видеоигры Gran Turismo 6.</p>
    <br>
    <p>На женевском автосалоне в 2016 году был представлен Bugatti Chiron — новый серийный гиперкар компании, преемник Bugatti Veyron. Bugatti Chiron оснащается 8,0 литровым квадротурбированным двигателем W16, обладает мощностью 1500 л. с. и 1600 Нм. Он позволяет развить 100 км/ч за 2,4 секунды, 200 км/ч — за 6,1 секунды, 300 км/ч — за 13,1 секунды, а 400 км/ч — за 32,6 секунды.</p>
    <br>
    <p>В январе 2018 года в должность президента компании вступил Стефан Винкельман. В конце августа на конкурсе элегантности в Пеббл-Бич был представлен автомобиль Bugatti Divo.</p>
    <br>
    <p>В августе 2019 года была представлена модель Bugatti Centodieci.</p>
    <br>
    <ul class="history-info__ul1">
      <li>
        <img src="../../assets/Dorlisheim_ChâteauBugatti_02.JPG" alt="" class="img-history">
        <div class="ul1-img__text">
          <p>Отреставрированное поместье Шато Сэн-Жан</p>
        </div>
      </li>
      <li>
        <img src="../../assets/Bugatti_Molsheim_Elsass.JPG" alt="" class="img-history">
        <div class="ul1-img__text">
          <p>Завод-ателье Bugatti</p>
        </div>
      </li>
      <li>
        <img src="../../assets/Bugatti_EB_118_1.jpg" alt="" class="img-history">
        <div class="ul1-img__text">
          <p>Концепт двухдверного четырёхместного купе Bugatti EB 118</p>
        </div>
      </li>
      <li>
        <img src="../../assets/180px-BugattiEB218.jpg" alt="" class="img-history">
        <div class="ul1-img__text">
          <p>Bugatti EB 218 — концептуальный четырёхдверный седан</p>
        </div>
      </li>
      <li>
        <img src="../../assets/Bugatti_Vision_at_IAA_2015_in_Frankfurt.JPG" alt="" class="img-history">
        <div class="ul1-img__text">
          <p>«Реальный» Bugatti Vision Gran Turismo</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<app-footer></app-footer>
